@import "tailwindcss";
@source "../../src";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
  --ghost-cream: #f9f8f4;
  --onyx-black: #1a1a1a;
  --gold: #985935;
  --charcoal-grey: #4f4f44;
}

@theme {
  /* Standard Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Custom Colors */
  --color-ghost-cream: var(--ghost-cream);
  --color-onyx-black: var(--onyx-black);
  --color-gold: var(--gold);
  --color-charcoal-grey: var(--charcoal-grey);

  /* Fonts */
  --font-playfair: var(--font-playfair), serif;
  --font-inter: var(--font-inter), sans-serif;
  --font-kaushan: var(--font-kaushan), cursive;

  /* Font Aliases */
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
.font-serif {
  font-family: var(--font-playfair), serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
